{% extends "_layouts/cp" %}

{% set title = "Geo Location Search" %}


{% block content %}

    <h2>Settings Summary</h2>

    <p>Changes can be made to these settings from Craft's Settings menu.</p>

    <div>
        <p>Search radius: <strong>{{ craft.geoSearch.searchRadius }}</strong> miles.</p>
        <p>Results template: <strong>{{ craft.geoSearch.resultsTemplate }}</strong>.</p>
        <p>Google Maps API key: <strong>{{ craft.geoSearch.googleAPIKey }}</strong>.</p>
        <p>Developments Section: <strong>{{ craft.geoSearch.developmentsSection }}</strong>.</p>
        <p>Plots Section: <strong>{{ craft.geoSearch.plotsSection }}</strong>.</p>
        <p>Require Local SSL: <strong>
            {% if craft.geoSearch.enableLocalSSL == false %}
                <i style="color:red">NO</i>
            {% else %}
                <i style="color:green">YES</i>
            {% endif %}
        </strong>.</p>
    </div>
    

{% endblock %}